/* Corremos a la derecha para dar lugar al panel del Editor */

header,
main,
footer {
    padding-left: 300px;
}


/*
nav {
    background-color: #262626;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
}
*/


/* ====== TILESETS ====== */

#tileset_container {
    position: relative;
    float: left;
    /*width: 260px;*/
}


/* Fixea que la barra de desplazamientoe este corrida

#tileset_container .jspContainer {
    width: 260px;
}

*/

#custom_select {
    width: 100%;
    height: 30px;
    overflow: hidden;
    text-shadow: 0px -1px #333;
    text-decoration: none;
    border-radius: 3px 3px 0px 0px;
    box-shadow: inset 0px 1px #777;
    background-color: #555;
    background-image: url("../img/icons/select_arrow.png");
    background-position: right;
    background-repeat: no-repeat;
}

#custom_select:hover {
    background-image: url("../img/icons/select_arrow_hover.png");
}

#tileset {
    height: 500px;
    /*background-color: #b39ddb;*/
    margin-left: 5%;
    margin-right: 5%;
    border: 5px solid #555;
    border-radius: 3px 3px 3px 3px;
}


/* Estilo de las vistas previas de los Tiles en el Editor */

.collection .collection-item.avatar {
    padding-left: 40%;
}

.collection .collection-item.avatar .circle {
    position: absolute;
    width: 64px;
    height: 64px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
}


/* Vista previa con bordes redondeados */

.circle {
    border-radius: 25%;
}


/* Descripcion asociada al tile */

.collection .collection-item.avatar .title {
    position: relative;
    font-size: 16px;
    /*padding: 16px 24px;
    color: #ffab40;
    margin-right: 24px;
    transition: color .3s ease;*/
    text-transform: uppercase;
}

.collection a.collection-item {
    color: #000;
}


/* ====== CANVAS ====== */

#canvas {
    position: absolute;
    z-index: 0;
    display: block;
    background-color: #FFF;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}


/* Canvas con grilla desactivada */

#canvas .nogrid {
    background-image: none !important;
}


/* Estilizamos el cursor con respecto al canvas */

#canvas .cursor {
    position: absolute;
    z-index: 99;
    pointer-events: none;
}


/* Estilo del cursor */

.cursor {
    box-shadow: inset 0px 0px 0px 1px #000;
}


/* Evitamos que las capas en el canvas dibujen el tilset asignado */

.layer {
    background-image: none !important;
}


/* Colocamos el Editor por debajo del Header
.side-nav {
    top: 64px
}
*/


/* Items de la lista de capas */

.collection .collection-item.active {
    background-color: #2196F3;
    color: #eafaf9;
}

.buttons {
    text-align: center
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
}